@keyframes animate-header {
  0% {
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
  }
}
@keyframes normal-header {
  0% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
  }
  100% {
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    border-radius: 50%;
  }
}
@keyframes proj-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btn {
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  height: 16px;
  width: 120px;
  margin: 10px auto 0;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.8);
}
.btn .btn-text {
  text-transform: uppercase;
  width: 100%;
  color: black;
  position: absolute;
  top: 5px;
  left: 0;
  line-height: 1;
}

.fullsize-header {
  animation: animate-header 250ms forwards ease-out;
}

.regular-header {
  animation: normal-header 250ms forwards ease-out;
}

.show {
  animation: visible 250ms forwards ease-out;
}

.hide {
  animation: hidden 250ms forwards ease-out;
}

body {
  background: WhiteSmoke;
  font-family: "Ubuntu", sans-serif;
}

@keyframes shake {
  0% {
    transform: rotate(0) scale(1);
  }
  2% {
    transform: rotate(-2deg) scale(1.1);
  }
  4% {
    transform: rotate(0) scale(1);
  }
  6% {
    transform: rotate(2deg) scale(1.1);
  }
  8% {
    transform: rotate(0) scale(1);
  }
}
.header {
  width: 900px;
  height: 100px;
  background: #ffb347;
  background: -webkit-linear-gradient(to left, #ffb347, #ffcc33);
  background: linear-gradient(to left, #ffb347, #ffcc33);
  color: white;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  box-shadow: 2px 3px 10px #777;
  border-radius: 5px;
  position: relative;
}
.header .icon {
  width: 45px;
  height: 100%;
  font-size: 50px;
  float: left;
  line-height: 95px;
  text-align: right;
  margin-right: 20px;
}
.header .tagline {
  width: 320px;
  float: right;
  height: 100%;
  line-height: 70px;
  font-size: 12px;
  text-align: left;
}

.description {
  animation: visible 1s forwards;
  width: 900px;
  height: 160px;
  background-color: #11AFAD;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #777;
  position: relative;
  padding: 10px;
  margin: 15px auto 0;
}
.description .links {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  width: 15%;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin: 0 auto;
}
.description .links i:hover {
  transform: scale(1.1);
}
.description a {
    text-decoration: none;
    color:inherit;
}
.description h1 {
  color: white;
  text-align: center;
  font-size: 25px;
}
.description p {
  color: white;
  text-align: center;
  margin-top: -10px;
}
.description .project {
  width: 725px;
  height: 200px;
  background: White;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
}
.description .project img {
  position: absolute;
  top: 10px;
  left: 10px;
}
.description .project .proj-description {
  width: 495px;
  height: 180px;
  border: 1px solid #11AFAD;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background: silver;
  border: 1px solid grey;
  border-radius: 100%;
  display: inline-block;
  margin: 5px;
}

.topleft {
  top: 0;
  left: 0;
}

.topright {
  top: 0;
  right: 0;
}

.bottomleft {
  bottom: 0;
  left: 0;
}

.bottomright {
  bottom: 0;
  right: 0;
}

.projects {
  width: 900px;
  height: 640px;
  margin: 0 auto;
  display: flex;
  flex-align: space-around;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.projects .proj {
  display: inline-block;
  height: 290px;
  width: 290px;
  box-shadow: 1px 1px 7px #777;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.projects .proj img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.projects .proj .headers {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  color: white;
  height: 200px;
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  text-align: center;
  line-height: 180px;
}
.projects .proj .headers .main-header {
  font-size: 20px;
}
.projects .proj .headers .sub-header {
  margin-top: -160px;
}
.projects .proj .headers .long-description {
  opacity: 0;
  margin: -70px 20px 0 20px;
  line-height: 1;
  text-align: center;
  border: 1px solid white;
  padding: 5px 10px;
}
.projects .shake {
  animation: shake 5s infinite ease;
}
.projects .footer {
  width: 900px;
  height: 100px;
  background: #BE0931;
  margin-bottom: 10px;
  box-shadow: 2px 3px 10px #777;
  border-radius: 5px;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 100px;
  position: relative;
}
.projects .animate-projects:nth-child(1) {
  animation: proj-animation 500ms forwards;
}
.projects .animate-projects:nth-child(2) {
  animation: proj-animation 1000ms forwards;
}
.projects .animate-projects:nth-child(3) {
  animation: proj-animation 1500ms forwards;
}
.projects .animate-projects:nth-child(4) {
  animation: proj-animation 2000ms forwards;
}
.projects .animate-projects:nth-child(5) {
  animation: proj-animation 2500ms forwards;
}
.projects .animate-projects:nth-child(6) {
  animation: proj-animation 3000ms forwards;
}
