.header
    a(href="../Home/index.html")
        i(class="fa fa-home" aria-hidden="true").home
        
    .title Project 
        span.second Name
    .description Some project description that is about the project...
.content
    .description
        .title Description
        .d-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .image
        img(src="https://d13yacurqjgara.cloudfront.net/users/385503/screenshots/2998638/philosophy_bites_mockup_shot_ii_centered.png")
.footer Copyright 2016 &copy; Yusuf Yildiz
    
    