header, hgroup, nav, footer, figure, figcaption, aside, section, article {
  display: block;
}

html {
  height: 100%;
}

header {
  background-image: url("sunset.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #000032;
  color: white;
  margin-top: 30px;
}

body {
  background: url("ptrbackground.jpg");
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

#wrapper {
  margin: 0 auto;
  min-width: 600px;
  width: 80%;
  background: #90C8E3;
}

.resort {
  color: #717986;
  font-weight: bold;
}

nav {
  float: left;
  background: #90C8E3;
  font-size: 1.2em;
  width: 200px;
  height: calc(100% + 50px);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 15px;
}

nav ul li {
  font-weight: bold;
}

nav a {
  color: #000238;
  text-decoration: none;
}

nav a:visited {
  color: #344873;
}

nav a:hover {
  color: #FFFFFF;
}

#content header {
  color: #4787B2;
}

#content {
  background: white;
  margin-left: 200px;
  padding: 1px 20px 20px;
}

#content img {
  float: left;
  margin-right: 20px;
}

#content ul {
  list-style-image: url("marker.gif");
  list-style-position: inside;
}

footer {
  background: white;
  padding: 10px;
  font-size: .9em;
  font-style: italic;
}

h1 {
  margin-bottom: 0;
  padding: 10px;
}

h2 {
  color: #3399CC;
}

h1, h2 {
  font-family: Georgia, "Times New Roman", serif;
}

#contact {
  font-size: 90%;
}

dt {
  color: #000033;
}

footer {
  font-family: Georgia, "Times New Roman", serif;
  margin-left: 200px;
  padding-left: 20px;
}
